*{
    margin:0;
    padding: 0;
}
.back-image{
    background-image: url('sky.jpg');
    background-size: cover;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.road{
    position: absolute;
    background-image: url('road.jpg');
    height: 200px;
    width: 500%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    display: block;
    animation: road 15s linear infinite;
}
@keyframes road{
    100%{
        transform: translateX(-3500px);
    }
}
.city{
background-image: url('city.png');
height: 250px;
position: absolute;
left: 0;
right: 0;
bottom: 200px;
background-repeat: repeat-x;
display: block;
animation: city 50s linear infinite;
}
@keyframes city{
    100%{
        transform: translateX(-3500px);
    }
}
.car{
    width: 400px;
    left: 25%;
    top: 75%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
}

.car img{
    width:100%;
    animation: car 1s linear infinite;
}
@keyframes car{
    100%{
        transform: translateY(-5px);
    }


}
.wheel{
    position: absolute;
    bottom: 100px;
    
}
.front-wheel{
    position: absolute;
    right: -22rem;
    top: 8px;
  
}
.back-wheel{
    position: absolute;
  right: -6.5rem;
    top: 8px;
}
.wheel img{
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;  
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}

.car-2{
    width: 400px;
    left: 10%;
    top: 75%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;
}
.car-2 img{
    width: 100%;
    animation: car-2 1s linear infinite;
}
@keyframes car-2{
    100%{
        transform: translateY(-5px);
    }
}
.front-wheel-2{
    position: absolute;
bottom: -0.4rem;
right: 2.8rem;
 
  
}
.back-wheel-2{
    position: absolute;
 bottom: -0.4rem;
 left: 1.9rem;
}
.wheel-2 img{
    width: 72px;
    height: 72px;  
    animation: wheel 1s linear infinite;  

}
.car-3{
    width: 400px;
    left: 60%;
    top: 75%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;

}
.car-3 img{
width: 100%;
animation: car-2 1s linear infinite;
}
.wheel-3 img {
    width: 72px;
    height: 72px;  
    animation: wheel 1s linear infinite;  
}
.front-wheel-3{
 position:absolute;
 bottom: -0.4rem;
 right: 2.8rem;
 
}
.back-wheel-3{
    position: absolute;
    bottom: -0.4rem;
    left: 1.9rem;
   
}

.car-4{
    width: 400px;
    left: 80%;
    top: 75%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;

}
.car-4 img{
width: 100%;
animation: car-2 1s linear infinite;
}
.wheel-4 img {
    width: 72px;
    height: 72px;  
    animation: wheel 1s linear infinite;  
}
.front-wheel-4{
 position:absolute;
 bottom: -0.4rem;
 right: 2.8rem;
 
}
.back-wheel-4{
    position: absolute;
    bottom: -0.4rem;
    left: 1.9rem;
   
}


.car-5{
    width: 400px;
    left: 80%;
    top: 75%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;

}
.car-5 img{
width: 100%;
animation: car-2 1s linear infinite;
}
.wheel-5 img {
    width: 72px;
    height: 72px;  
    animation: wheel 1s linear infinite;  
}
.front-wheel-5{
 position:absolute;
 bottom: -0.4rem;
 right: 2.8rem;
 
}
.back-wheel-5{
    position: absolute;
    bottom: -0.4rem;
    left: 1.9rem;
   
}
.bus{
    width: 500px;
    left: 38%;
    top: 58%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 3;

}
.bus img{
width: 100%;
animation: car-2 1s linear infinite;
}
.bus-wheel img {
    width: 75px;
    height: 75px;  
    animation: wheel 1s linear infinite;  
}
.front-bus-wheel{
 position:absolute;
 bottom: 1rem;
 right: 2.2rem;
 
}
.back-bus-wheel{
    position: absolute;
    bottom: 1rem;
    left: 3.9rem;
   
}
.aeroplane{
    position: absolute;
    width: 100px;
    left: 50%;
    animation: aero 3s linear infinite;

}
@keyframes aero{
    100%{
    
        transform: translateY(40px);
    }
}
.aeroplane img{
    width: 100%;
}